<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rbsl.lunchmode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".A"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".B" />

        <intent-filter>
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="text/plain" />
        </intent-filter>

        <activity android:name=".C" />
        <activity android:name=".D"></activity>
        <receiver android:name=".CleanReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" >
                </action>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>